@media screen and (max-width: 768px) {
  
  .nam {
    margin-top: -10px !important;
    margin-left: 15px !important;
  }
  .fill {
    padding: 10px 50px !important;
    margin-bottom: 5px !important;
  }
  .np img {
    padding: 0 10px !important;
  }
  .rarrow {
    position: relative;
    left: 80% !important;
  }
  .ned {
    margin-top: -19rem !important;
    padding-top: -19rem !important;
  }
  .sld {
    height: 300px !important;
  }
  .up {
    margin-top: -37rem;
  }
  .stk {
    position: relative !important;
  }
  .stp a {
    text-align: center !important;
  }
}